* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


/*links*/

a {
	color: #a2b3be;
}

a:hover {
	color: #016eae;
	text-decoration: underline;
}

.hero a {
	text-decoration: none;
	color: #02344f;
}

.foot a {
	text-decoration: none;
}

.avatar a {
	text-decoration: none;
	color: #016eae;
}

.social a {
	text-decoration: none;
}

p a:visited {
	color: blue;
}

p {
	margin-top: 1.75em;
	line-height: 1.75em;
	font-family: "open sans";
	font-size: 15px;
}



/*smaller gray text for use outside main content*/
.sub {
	color: #a2b3be;
	font-size: 14px;
}

/*consider this for what is now avatar, button link, and social
.mini {
	font-size:13px;
}*/

.container {
	font-family: "open sans", verdana, sans-serif;
	font-size: 0px;	
	color: #5d686e;
}

.hero {
	background-image: url("assets/images/header.jpg");
	background-size: cover;
	height: 523px;
	width: 100%;
	text-align: center;
	color: #02344f;
	font-size: 15px;
	padding-left: 15px;
}

.row {
	position: relative;
}

.left-side {
	text-align: left;
	text-transform: uppercase;
	line-height: 44px;
	height: 40px;
	vertical-align: top;
	position: absolute;
	left:	10%;
	top: 10px;
	font-size: 16px;
	letter-spacing: -.015em;
}

.logo {
	display: inline-block;
	margin-right: 5px;
}

.right {
	position: absolute;
	right: 11.25%;
	top: 20px;
}

.link {
		display: inline-block;
		margin-left: 0px 5px;
}
.info {
	font-family: oswald;
	text-transform: uppercase;
	color: black;
	height: 40px;
	line-height: 20px;
	font-size: 18px;
	margin-right: 7px;
	margin-left: 4px;
}



.title {
	color: white;
	font-size: 105px;
	text-align: center;
	padding-top: 189px;
	text-shadow: 2px 2px #116296;
	margin-bottom: -20px;
	letter-spacing: -.04em;
}




.center {
	display: inline-block;
	width: 48.5%;
	margin: 62px 6.1% 51px 12.75%;
}

.headline {
	color: #023450;
	font-size: 64px;
	font-family: oswald;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: -.013em
}

.byline {
	margin-top: 7px;
	margin-bottom: 29px;
	letter-spacing: -.02em;
}

.avatar {
	display: inline-block;
	font-size: 13px;

}

#icon {
		height: 28px;
		width: auto;
		display: inline-block;
		vertical-align: middle;
		margin: 0px 4px;
		padding-bottom: 6px;
}

.date {
	display: inline-block;
	margin-left: 10px;
}


.excerpt {
	border-left: solid 2px #D3D3D3;
	font-size: 27px;
	padding-left: 17px;
	padding-top: 7px;
	margin: 20px 6px;
	line-height: 49px;
	color: #016EAE;
}


.button {
	color: white;
	background-color: #A2B3BE;
	line-height: 30px;
	margin: 19px 7px 18px 3px;
	padding-right: 12px;
	font-size: 13px;
	height: 30px;	
}

.button-icon {
	background-color: rgba(0,0,25,0.5);
	display: inline-block;
	width: 33px;
	text-align: center;
	margin-right: 9px;
}

.button-icon img {
	height: auto;
	vertical-align: middle;
}

.blue {
	background-color: #016EAE;
}




/* for button img, make a square container with a darker b/g - something universal so that the blue one can use it too?*/

.sidebar {
	display: inline-block;
	width: 278px; /*was 25%*/
	margin: 83px 10% 50px 0px;
	vertical-align: top;
		font-size: 13px;
}

.connect {
	text-align: center;
}

#author {
	font-size: 16px;
	padding-top: 7px;
}

.social {
	color: #A2B3BE;
	margin: 0px 6px;
	display: inline-block;
	margin: 0px 5px 0px 7pxs;

}

.adbox {
	text-align: right;
	width: 100%;
	line-height: 1.6em;
	padding-top: 52px;
}


.side-heading {
	font-family: oswald;
	font-size: 18px;
	color: #016eae;
	margin-top: 44px;
	margin-bottom: -21px;

}





.foot {
	border-top: #E1E7EA solid 1px;
	text-align: center;
	width: 100%;
	padding-top: 35px;
}

.foot .headline {
	padding-bottom: 39px;
}

.shift {
	margin-left: 5px;
}


.post-thumb {
	display: inline-block;
	width: 25%;
}

.post-thumb img {
	width: 100%;
}


.cover {
	background-color: rgba(0,111,169, .75);
	position: absolute;
	width: 25%;
	height: 100%;
	top: 0;
	color: rgba(0, 52, 78, 1);
	color: #00344E;
}

.cover:hover {
	background-color: rgba(0,111,169,.35);
	color: white;
}

.thumb-text {
	text-transform: uppercase;
	font-size: 29px;
	position: absolute;
	bottom: 10px;
	font-family: oswald;
	margin-left: 20px;
	width: 225px;
	text-align: left;
	line-height: 1.25em;
}



.bottom {
	background-color: #04344F;
	height: 100px;
	line-height: 42px;
	padding: 27px 10.75% 0px 160px;
	font-size: 14px;
	color: #A2B3BE;
	text-align: right;
	letter-spacing: -.017em;
}

.copyright {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.nav
	{
	text-align: right;
	border-right: solid #5d686e 1px;
	padding-right: 5px;
	line-height: 1em;
	letter-spacing: .01em;

	}

.nav:last-of-type {
	border-right: none;
}