* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


/*links*/

a {
	color: #a2b3be;
}

a:hover {
	color: #016eae;
	text-decoration: underline;
}

.hero a {
	text-decoration: none;
	color: #02344f;
}

.foot a {
	text-decoration: none;
}

.avatar a {
	text-decoration: none;
	color: #016eae;
}

.social a {
	text-decoration: none;
}

p a:visited {
	color: blue;
}

p {
	/*replace .text with p settings; add top/bottom margin*/
	margin-top: 1.75em;
	line-height: 1.75em;
	font-weight: 300;
	font-family: "open sans";


}



/*smaller gray text for use outside main content*/
.sub {
	color: #a2b3be;
	font-size: 14px;
}

/*consider this for what is now avatar, button link, and social
.mini {
	font-size:13px;
}*/

.container {
	font-family: "open sans", verdana, sans-serif;
	font-size: 0px;	
	color: #5d686e;
}

.hero {
	background-image: url("assets/images/header.jpg");
	background-size: cover;
	height: 523px;
	width: 100%;
	text-align: center;
	color: #02344f;
	font-size: 15px;
}

.row {
	position: relative;
}

.left-side {
	text-align: left;
	text-transform: uppercase;
	line-height: 40px;
	height: 40px;
	vertical-align: top;
	position: absolute;
	left:	40px;
	top: 10px;
}

.logo {
	display: inline-block;
	margin-right: 5px;
}

.right {
	position: absolute;
	right: 10%;
	top: 20px;
}

.link {
		display: inline-block;
		margin-left: 0px 5px;
}
.info {
	font-family: oswald;
	text-transform: uppercase;
	color: black;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}



.title {
	color: white;
	font-size: 100px;
	text-align: center;
	padding-top: 176.5px;
	text-shadow: 2px 2px #116296;
}




.center {
	display: inline-block;
	width: 50%;
	margin: 62px 5% 50px 10%;
	font-size: 15px;
}

.headline {
	color: #023450;
	font-size: 65px;
	font-family: oswald;
	line-height: 1.1em;
	text-transform: uppercase;
}

.byline {
	line-height: 20px;

}

.avatar {
	display: inline-block;
	font-size: 13px;
}

#icon {
		height: 22px;
		width: auto;
		display: inline-block;
}

.date {
	display: inline-block;
	
}


.excerpt {
	border-left: solid 2px #D3D3D3;
	font-size: 26px;
	padding-left: 10px;
	margin: 15px 5px;
	line-height: 54px;
	color: #016EAE;
}


.button {
	color: white;
	background-color: #A2B3BE;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
	padding-left: 0px 5px;
}


/* for button img, make a square container with a darker b/g - something universal so that the blue one can use it too?*/

.sidebar {
	display: inline-block;
	width: 278px; /*was 25%*/
	margin: 50px 10% 50px 0px;
	vertical-align: top;
}

.connect {
	text-align: center;
}

#author {
	font-size: 16px;

}

.social {
	color: #A2B3BE;
	margin: 0px 6px;
	display: inline-block;
	font-size: 13px;
}

.adbox {
	text-align: right;
	width: 100%;
}

.ad-image {
 is 278px
}

.side-heading {
	font-family: oswald;
	font-size: 18px;
	color: #016eae;
	margin-top: 45px;

}





.foot {
	border-top: #E1E7EA solid 1px;
	text-align: center;
	width: 100%;
}




.post-thumb {
	display: inline-block;
	width: 25%;
	position: relative;
}

.post-thumb img {
	width: 100%;
}

.thumb-text {
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	position: absolute;
	bottom: 20px;
}

.bottom {
	background-color: #04344F;
	height: 100px;
	line-height: 40px;
	padding: 30px 160px;
	font-size: 15px;
	color: #A2B3BE;
	text-align: right;
}

.copyright {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.nav
	{
	text-align: right;
	border-right: solid #5d686e 1px;
	padding-right: 5px;
	line-height: 1em;

	}

.nav:last-of-type {
	border-right: none;
}